<meta charset="UTF-8">

<title>Telegram Friends</title>

<link rel="shortcut icon" href="/favicon.ico" />

<meta name="description" content="" />
<meta name="keywords" content="">

<link href='//fonts.googleapis.com/css?family=Roboto:500,100,300,700,400&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
<link href='/bower_components/bootstrap/dist/css/bootstrap.css' rel='stylesheet' type='text/css'>
<link href='/bower_components/sweetalert/lib/sweet-alert.css' rel='stylesheet' type='text/css'>
<link href='/bower_components/magnific-popup/dist/magnific-popup.css?1' rel='stylesheet' type='text/css'>

<link href='/css/style.css?13' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script>
    window.f = function () {
        console.log.apply(console, arguments)
    }
</script>
