<option value="1"<?= (locals.selected == 1 ? ' selected' : '') ?>><?= _('month_january')?></option>
<option value="2"<?= (locals.selected == 2 ? ' selected' : '') ?>><?= _('month_february')?></option>
<option value="3"<?= (locals.selected == 3 ? ' selected' : '') ?>><?= _('month_march')?></option>
<option value="4"<?= (locals.selected == 4 ? ' selected' : '') ?>><?= _('month_april')?></option>
<option value="5"<?= (locals.selected == 5 ? ' selected' : '') ?>><?= _('month_may')?></option>
<option value="6"<?= (locals.selected == 6 ? ' selected' : '') ?>><?= _('month_june')?></option>
<option value="7"<?= (locals.selected == 7 ? ' selected' : '') ?>><?= _('month_july')?></option>
<option value="8"<?= (locals.selected == 8 ? ' selected' : '') ?>><?= _('month_august')?></option>
<option value="9"<?= (locals.selected == 9 ? ' selected' : '') ?>><?= _('month_september')?></option>
<option value="10"<?= (locals.selected == 10 ? ' selected' : '') ?>><?= _('month_october')?></option>
<option value="11"<?= (locals.selected == 11 ? ' selected' : '') ?>><?= _('month_november') ?></option>
<option value="12"<?= (locals.selected == 12 ? ' selected' : '') ?>><?= _('month_december')?></option>