<div class="head-bg"></div>
<div class="profile center-block">
    <div id="profile-head" class="clearfix">
        <a class="logo pull-left" href="/"><i class="icon-tg-title"></i><?= _('logo_name') ?></a>
    </div>
    <div id="profile-edit" class="login-peer">

        <h3><?= _('login') ?></h3>

        <p class="text-muted" style="margin-bottom: 30px"><?= _('login_text') ?></p>

        <a href="https://telegram.me/LazyRaccoonBot?start=login" target="_blank" class="link-how-to-username"><?= _('link_bot_login') ?></a>
    </div>
</div>